<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>Adored</string>
        <string>Afraid</string>
        <string>Angry</string>
        <string>Annoyed</string>
        <string>Anxious</string>
        <string>Apologetic</string>
        <string>Ashamed</string>
        <string>Blessed</string>
        <string>Blissful</string>
        <string>Bored</string>
        <string>Bothered</string>
        <string>Broken</string>
        <string>Bubbly</string>
        <string>Cautious</string>
        <string>Cheerful</string>
        <string>Confident</string>
        <string>Content</string>
        <string>Curious</string>
        <string>Delighted</string>
        <string>Depressed</string>
        <string>Determined</string>
        <string>Disappointed</string>
        <string>Disgusted</string>
        <string>Disturbed</string>
        <string>Embarrassed</string>
        <string>Empty</string>
        <string>Energetic</string>
        <string>Enlightened</string>
        <string>Enlivened</string>
        <string>Enraged</string>
        <string>Enthusiastic</string>
        <string>Envious</string>
        <string>Excited</string>
        <string>Exhausted</string>
        <string>Flirtatious</string>
        <string>Foolish</string>
        <string>Fragile</string>
        <string>Frightened</string>
        <string>Frustrated</string>
        <string>Glad</string>
        <string>Guilty</string>
        <string>Happy</string>
        <string>Hopeful</string>
        <string>Hopeless</string>
        <string>Horrified</string>
        <string>Hurt</string>
        <string>Hysterical</string>
        <string>Indifferent</string>
        <string>Infatuated</string>
        <string>Interested</string>
        <string>Irritated</string>
        <string>Jealous</string>
        <string>Joyful</string>
        <string>Lively</string>
        <string>Lonely</string>
        <string>Loved</string>
        <string>Loving</string>
        <string>Mad</string>
        <string>Nervous</string>
        <string>Obsessed</string>
        <string>Pleased</string>
        <string>Proud</string>
        <string>Regretful</string>
        <string>Relieved</string>
        <string>Respected</string>
        <string>Restless</string>
        <string>Sad</string>
        <string>Satisfied</string>
        <string>Scared</string>
        <string>Scattered</string>
        <string>Secure</string>
        <string>Shy</string>
        <string>Smart</string>
        <string>Sorry</string>
        <string>Strong</string>
        <string>Surprised</string>
        <string>Suspicious</string>
        <string>Terrified</string>
        <string>Thrilled</string>
        <string>Tired</string>
        <string>Unsure</string>
        <string>Upset</string>
        <string>Vivacious</string>
        <string>Vulnerable</string>
        <string>Worried</string>
        <string>Worthless</string>
        <string>Worthy</string>
    </array>
</plist>
