<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adored</key>
	<dict>
		<key>category</key>
		<string>Love</string>
		<key>feelValue</key>
		<integer>10</integer>
		<key>facePath</key>
		<string>Adored</string>
		<key>source</key>
		<string>Parrot</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>3</string>
	</dict>
	<key>Adoring</key>
	<dict>
		<key>category</key>
		<string>Love</string>
		<key>feelValue</key>
		<integer>9</integer>
		<key>facePath</key>
		<string>Adoring</string>
		<key>source</key>
		<string>Parrot</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>3</string>
	</dict>
	<key>Affectionate</key>
	<dict>
		<key>category</key>
		<string>Love</string>
		<key>feelValue</key>
		<integer>8</integer>
		<key>facePath</key>
		<string>Affectionate</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Afraid</key>
	<dict>
		<key>category</key>
		<string>Fear</string>
		<key>feelValue</key>
		<integer>-7</integer>
		<key>facePath</key>
		<string>Afraid</string>
		<key>source</key>
		<string>Parrot, Plutchik</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>1</string>
	</dict>
	<key>Aggravated</key>
	<dict>
		<key>category</key>
		<string>Anger</string>
		<key>feelValue</key>
		<integer>-6</integer>
		<key>facePath</key>
		<string>Aggravated</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Agitated</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-3</integer>
		<key>facePath</key>
		<string>Bothered</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Alarmed</key>
	<dict>
		<key>category</key>
		<string>Surprise</string>
		<key>feelValue</key>
		<integer>-3</integer>
		<key>facePath</key>
		<string>Alarmed</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Alienated</key>
	<dict>
		<key>category</key>
		<string>Sad</string>
		<key>feelValue</key>
		<integer>-5</integer>
		<key>facePath</key>
		<string>Alienated</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Ambivalent</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-1</integer>
		<key>facePath</key>
		<string>Ambivalent</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Amazed</key>
	<dict>
		<key>category</key>
		<string>Happy</string>
		<key>feelValue</key>
		<integer>5</integer>
		<key>facePath</key>
		<string>Amazed</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Amused</key>
	<dict>
		<key>category</key>
		<string>Joy</string>
		<key>feelValue</key>
		<integer>7</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>3</string>
	</dict>
	<key>Angry</key>
	<dict>
		<key>category</key>
		<string>Anger</string>
		<key>feelValue</key>
		<integer>-10</integer>
		<key>facePath</key>
		<string>Angry</string>
		<key>source</key>
		<string>Parrot, Plutchik</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>1</string>
	</dict>
	<key>Annoyed</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-5</integer>
		<key>facePath</key>
		<string>Annoyed</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Anticipatory</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>8</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Plutchik</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Anxious</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Anxious</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>-4</string>
	</dict>
	<key>Apologetic</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-3</integer>
		<key>facePath</key>
		<string>Apologetic</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Apprehensive</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Aroused</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Ashamed</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-9</integer>
		<key>facePath</key>
		<string>Ashamed</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Astonished</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Attractive</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Attracted</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>New item</key>
		<string></string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Awed</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Bitter</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-4</integer>
		<key>facePath</key>
		<string>Angry</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Blissful</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>10</integer>
		<key>facePath</key>
		<string>Blissful</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Bored</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-2</integer>
		<key>facePath</key>
		<string>Bored</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>3</string>
	</dict>
	<key>Broken</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-10</integer>
		<key>facePath</key>
		<string>Broken</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Caring</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Cautious</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-2</integer>
		<key>facePath</key>
		<string>Cautious</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Cheerful</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Compassionate</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Confident</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>8</integer>
		<key>facePath</key>
		<string>Confident</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>category</key>
		<string>Joy</string>
		<key>feelValue</key>
		<integer>8</integer>
		<key>facePath</key>
		<string>Content</string>
		<key>source</key>
		<string>Parrot</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>2</string>
	</dict>
	<key>Curious</key>
	<dict>
		<key>category</key>
		<string>Reactive</string>
		<key>feelValue</key>
		<integer>5</integer>
		<key>facePath</key>
		<string>Curious</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Defeated</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-10</integer>
		<key>facePath</key>
		<string>Broken</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Dejected</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Delighted</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Depressed</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Desireable</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Desiring</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Despairing</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Disappointed</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Disgusted</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-9</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Plutchik</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Disliked</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Dismayed</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Displeased</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Distressed</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Ecstatic</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Elated</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Embarrassed</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Embarrased</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Empathetic</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Enthralled</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Enthusiastic</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Envious</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Euphoric</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Exasperated</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Excited</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Exhilarated</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Fearful</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Ferocious</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Fondness</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Frightful</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Frustrated</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Furious</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Glad</key>
	<dict>
		<key>category</key>
		<string>Joy</string>
		<key>feelValue</key>
		<integer>8</integer>
		<key>facePath</key>
		<string>Glad</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Gleeful</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Gloomy</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Glum</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Grief</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Grouchy</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Grumpy</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Guilt</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Happy</key>
	<dict>
		<key>category</key>
		<string>Joy</string>
		<key>feelValue</key>
		<integer>10</integer>
		<key>facePath</key>
		<string>Happy</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>1</string>
	</dict>
	<key>Hating</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Homesick</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Hopeful</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Horrified</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Hostile</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Humiliated</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Hurt</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Hysterical</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Infatuated</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Insecure</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Insulted</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Interested</key>
	<dict>
		<key>category</key>
		<string>Reactive</string>
		<key>feelValue</key>
		<integer>6</integer>
		<key>facePath</key>
		<string>Curious</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Irritable</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Isolated</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Jealous</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Joyful</key>
	<dict>
		<key>category</key>
		<string>Joy</string>
		<key>feelValue</key>
		<integer>10</integer>
		<key>facePath</key>
		<string>Happy</string>
		<key>source</key>
		<string>Parrot, Plutchik</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>1</string>
	</dict>
	<key>Jubilant</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Likable</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Loathing</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Lonely</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Longing</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Loving</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Parrot</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>1</string>
	</dict>
	<key>Loved</key>
	<dict>
		<key>category</key>
		<string>Love</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Adored</string>
		<key>source</key>
		<string>Parrot</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>1</string>
	</dict>
	<key>Lovable</key>
	<dict>
		<key>category</key>
		<string>Love</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Parrot</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>1</string>
	</dict>
	<key>Lustful</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Melancholy</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Miserable</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Mortified</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Neglected</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Nervous</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Optimistic</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Outraged</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Panicked</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Passionate</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Pessimistic</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Pitying</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Pleased</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Proud</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Rapture</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Regret</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Rejected</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Relieved</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Remorseful</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Resentment</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Revulsion</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Sad</key>
	<dict>
		<key>category</key>
		<string>Sadness</string>
		<key>feelValue</key>
		<integer>-6</integer>
		<key>facePath</key>
		<string>Sad</string>
		<key>source</key>
		<string>Parrot, Plutchik</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>1</string>
	</dict>
	<key>Satisfied</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Sentimental</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Shocked</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Suffering</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Surprised</key>
	<dict>
		<key>category</key>
		<string>Surprise</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Parrot, Plutchik</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>1</string>
	</dict>
	<key>Suspicious</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-3</integer>
		<key>facePath</key>
		<string>Skeptical</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Sympathetic</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Tenderness</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Terrified</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Thrilled</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Tormented</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Triumphant</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Trusting</key>
	<dict>
		<key>category</key>
		<string>Trust</string>
		<key>feelValue</key>
		<integer>8</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Plutchik</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Uneasy</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Unhappy</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Unlovable</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Vengeful</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Worried</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>-3</integer>
		<key>facePath</key>
		<string>Worried</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Worthy</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
	<key>Worthless</key>
	<dict>
		<key>category</key>
		<string>None</string>
		<key>feelValue</key>
		<integer>0</integer>
		<key>facePath</key>
		<string>Blank</string>
		<key>source</key>
		<string>Need Source</string>
		<key>emotionDescription</key>
		<string></string>
		<key>parrotLevel</key>
		<string>0</string>
	</dict>
</dict>
</plist>
